<span class="nav-title">Restaurant Reviewer</span>
<div class="" id="filter-container">

  <div class="select-group">
    <label for="select-price">Price</label>
    <select onchange={{ action "priceSelected" value="target.value"}} id="select-price" tabindex="0">
      <option value="0">All</option>
      <option value="1">Cheap</option>
      <option value="2">Moderate</option>
      <option value="3">Expensive</option>
      <option value="4">Very Expensive</option>
    </select>
  </div>

  <div class="is-open-select">
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
      {{input type="checkbox" id="switch-1" class="mdl-switch__input" checked=isChecked}}
      <span class="mdl-switch__label">
        {{#if isChecked}}
          Open Now
        {{else}}
          Closed
        {{/if}}
      </span>
    </label>
  </div>

  <div class="filter-btn text-right">
    <button aria-label="filter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick={{action "filterRestaurants"}} tabindex="0">
      Filter
    </button>
  </div>

</div>
