body
  min-width: 360px
  background: $color6

.inline-block
  display: inline-block

.list--unstyled
  font-size: inherit
  padding: 0
  margin: 0
  list-style: none

.grid-handle
  max-width: 960px

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.text-right
  text-align: right

.text-center
  text-align: center

.loader-mdl
  display: none

.mdl-progress
  margin-top: 0.5rem

.show
  display: block !important

.page-spinner
  display: none
  position: fixed
  top: 100px
  right: 50%
  width: 28px
  height: 28px
  padding: 4px
  background: $color4
  border-radius: 50%
  box-shadow: 0 0 10px $color5
  z-index: 10000

button[disabled]
  cursor: not-allowed !important

.has-warning
  label
    color: $color8 !important

.site-title
  color: $color6
  text-decoration: none !important

.mdl-textfield__label
  color: #535353
