.mdl-layout__drawer-button
  display: none
#nav-init
  @extend .mdl-layout__drawer-button
  display: block

.nav-title
  display: block
  text-align: center
  font-size: 1.3rem
  padding: 10px
  margin-top: 15px

.select-group
  margin-top: 35px
  label
    color: $color7
    margin-left: 5px

.select-category
  width: 100%
  height: 40px
  border: none
  border-bottom: 2px solid $color7
  font-size: 1.2em
  margin-top: 5px

.filter-btn
  margin: 35px 10px
