.home-page-form
  max-width: 350px
  margin: 0 auto
  margin-top: 100px

.home-page-text-field
  width: 100%

.warnings
  text-align: left
  display: none
  color: $color8

.warning-msg
  display: none
  text-align: center
  color: $color5
  margin-top: 35px

#current-location::-webkit-input-placeholder
    color: $color6

#current-location:-moz-placeholder
   color: $color6
   opacity:  1

#current-location::-moz-placeholder
   color: $color6
   opacity:  1

#current-location:-ms-input-placeholder
   color: $color6
