.restaurant-card.mdl-card

.restaurant-bg
  height: 450px
  background-size: cover !important

.drestaurant-card > .mdl-card__title
  color: #fff
  height: 176px


.restaurant-card > .mdl-card__menu
  color: #fff

.img-responsive
  width: 100%
