<div class="mdl-grid grid-handle" id="venues">

{{log restaurants}}

 {{#each restaurants as |venue|}}
   {{restaurant-thumb venue=venue}}
 {{/each}}

 {{!-- <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp restaurant-thumb">
   load more
 </div> --}}
 <div class="mdl-cell mdl-cell--4-col">
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect load-more-btn">
     Load more
   </button>
 </div>


</div>
