<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Restaurant Reviewer</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Textfield with Floating Label -->

      <form class="home-page-form text-right" onsubmit={{ action "submitSearch"}}>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label home-page-text-field">
          <input class="mdl-textfield__input" type="text" id="current-location" onfocus={{ action "autocompleteFn"}}>
          <label class="mdl-textfield__label text-center" for="current-location">Search restaurants</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect">
          <i class="material-icons">search</i>
        </button>
      </form>

    </div>
  </main>
</div>
